* {
  font-family: Circular !important;
}
html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.nav-p {
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-out;
}
.nav-p:hover {
  color: #C5DAFA;
}

.MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: transparent;
}

.MuiFormLabel-root.Mui-focused {
  color: #4F5DFF !important;
}
.MuiInput-root.MuiInput-underline:after {
  border-bottom-color: #4F5DFF !important;
}

.opacity {
  opacity: 0.5;
}
