* {
  font-family: Circular !important;
}
.App {
  text-align: center;
}

.nav-p {
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-out;
}
.nav-p:hover {
  color: #C5DAFA;
}
